# Import

In [1]:
import re
import pandas        as pd
import numpy         as np

# Load DataSet

In [2]:
df = pd.read_csv('../dataset/df_final.csv', encoding='utf-8', sep=';')

In [3]:
df.head()

,Unnamed: 0,id_ads,manufacturer_by,model,version,km,year,price,seller,endereco,scrapy_datetime,zip_code,country
0,0,7fd72920-850d-43ba-a452-cbae1a6398da,land rover,DEFENDER 110,SW SE,81000,2015,38000,AUTOMOVILES MARTIN,Contáctanos en: • ES-14440 VILLANUEVA DE CÓRDOBA,2023-10-19 12:22:03,14440,ES
1,1,840de0a3-82a9-454c-a725-508e211af7de,land rover,DEFENDER 90,td5,147000,1999,24900,AUTOMOVILES MARTIN,Contáctanos en: • ES-14440 VILLANUEVA DE CÓRDOBA,2023-10-19 12:22:03,14440,ES
2,2,6611c967-ab67-4db5-b28f-37b77fcd332f,land rover,DEFENDER 110,SW,79000,2013,39900,AUTOMOVILES MARTIN,Contáctanos en: • ES-14440 VILLANUEVA DE CÓRDOBA,2023-10-19 12:22:03,14440,ES
3,3,7484ee53-ebc5-4510-8bf9-032e657837cf,land rover,DEFENDER 110,SW,78000,2012,39500,AUTOMOVILES MARTIN,Contáctanos en: • ES-14440 VILLANUEVA DE CÓRDOBA,2023-10-19 12:22:03,14440,ES
4,4,08c56b66-b680-4f5c-b63a-33ce190b65eb,land rover,DEFENDER 110,SW SE,52000,2014,42600,AUTOMOVILES MARTIN,Contáctanos en: • ES-14440 VILLANUEVA DE CÓRDOBA,2023-10-19 12:22:03,14440,ES

## 01 - Elimando Colunas desnecessarias

In [4]:
df_01 = df.copy()

In [5]:
df_01 = df_01.drop('Unnamed: 0', axis=1)
#df = df.drop('coluna_indesejada', axis=1)

In [6]:
df_01.head(1)

,id_ads,manufacturer_by,model,version,km,year,price,seller,endereco,scrapy_datetime,zip_code,country
0,7fd72920-850d-43ba-a452-cbae1a6398da,land rover,DEFENDER 110,SW SE,81000,2015,38000,AUTOMOVILES MARTIN,Contáctanos en: • ES-14440 VILLANUEVA DE CÓRDOBA,2023-10-19 12:22:03,14440,ES

## Criando Coluna de Historico de nao venda

In [33]:
df_02 = df_01.copy()

In [34]:
# Crie um dicionário de valores únicos em 'Valor_a_Contar' e suas contagens
count_id_ads = df_02['id_ads'].value_counts().to_dict()

# Crie uma nova coluna 'Soma_Ocorrencias' com base nas contagens
df_02['count_id'] = df_02['id_ads'].map(count_id_ads)

In [35]:
df_02.head(3)

,id_ads,manufacturer_by,model,version,km,year,price,seller,endereco,scrapy_datetime,zip_code,country,count_id
0,7fd72920-850d-43ba-a452-cbae1a6398da,land rover,DEFENDER 110,SW SE,81000,2015,38000,AUTOMOVILES MARTIN,Contáctanos en: • ES-14440 VILLANUEVA DE CÓRDOBA,2023-10-19 12:22:03,14440,ES,2
1,840de0a3-82a9-454c-a725-508e211af7de,land rover,DEFENDER 90,td5,147000,1999,24900,AUTOMOVILES MARTIN,Contáctanos en: • ES-14440 VILLANUEVA DE CÓRDOBA,2023-10-19 12:22:03,14440,ES,2
2,6611c967-ab67-4db5-b28f-37b77fcd332f,land rover,DEFENDER 110,SW,79000,2013,39900,AUTOMOVILES MARTIN,Contáctanos en: • ES-14440 VILLANUEVA DE CÓRDOBA,2023-10-19 12:22:03,14440,ES,2

## 03 - Criando Coluna Data Hoje

In [36]:
df_03 = df_02.copy()

In [ ]:
df['scrapy_datetime'] = datetime.now().strftime('%Y-%m-%d %H:%M:%S')

In [ ]:
import pandas as pd
from datetime import datetime

# Suponha que a data do web scraping seja a seguinte (você pode obtê-la da maneira que desejar)
data_scraping = datetime(2023, 10, 30)

# Exemplo de DataFrame
data = {'Data': [datetime(2023, 10, 28), datetime(2023, 10, 29), datetime(2023, 10, 30), datetime(2023, 10, 31)],
        'Coluna1': [1, 2, 3, 2],
        'Coluna2': ['A', 'B', 'A', 'C']}

df = pd.DataFrame(data)

# Selecione apenas as linhas onde Coluna1 >= 2 e Coluna2 ocorre mais de uma vez
condicao = (df['Coluna1'] >= 2) & df['Coluna2'].duplicated(keep=False)

# Filtrar as linhas que atendem à condição
df_filtrado = df[condicao]

# Calcular a diferença em dias
df_filtrado['Dias_Passados'] = (data_scraping - df_filtrado['Data']).dt.days

print(df_filtrado)

In [ ]:
df_02 = df_02[df_02['count'] >= 2]
df_02.head()

In [21]:
a = df_02['id_ads'].count()
print(a)

0

## DataFrame Final

In [14]:
df_final = pd.DataFrame(df_clean[['id_ads', 'manufacturer_by', 'model', 'version', 'km', 'year',
                                  'price', 'seller', 'endereco', 'scrapy_datetime', 'zip_code', 'country']])

In [15]:
df_final.head()

,id_ads,manufacturer_by,model,version,km,year,price,seller,endereco,scrapy_datetime,zip_code,country
0,7fd72920-850d-43ba-a452-cbae1a6398da,land rover,DEFENDER 110,SW SE,81000,2015,38000,AUTOMOVILES MARTIN,Contáctanos en: • ES-14440 VILLANUEVA DE CÓRDOBA,2023-10-19 12:22:03,14440,ES
1,840de0a3-82a9-454c-a725-508e211af7de,land rover,DEFENDER 90,td5,147000,1999,24900,AUTOMOVILES MARTIN,Contáctanos en: • ES-14440 VILLANUEVA DE CÓRDOBA,2023-10-19 12:22:03,14440,ES
2,6611c967-ab67-4db5-b28f-37b77fcd332f,land rover,DEFENDER 110,SW,79000,2013,39900,AUTOMOVILES MARTIN,Contáctanos en: • ES-14440 VILLANUEVA DE CÓRDOBA,2023-10-19 12:22:03,14440,ES
3,7484ee53-ebc5-4510-8bf9-032e657837cf,land rover,DEFENDER 110,SW,78000,2012,39500,AUTOMOVILES MARTIN,Contáctanos en: • ES-14440 VILLANUEVA DE CÓRDOBA,2023-10-19 12:22:03,14440,ES
4,08c56b66-b680-4f5c-b63a-33ce190b65eb,land rover,DEFENDER 110,SW SE,52000,2014,42600,AUTOMOVILES MARTIN,Contáctanos en: • ES-14440 VILLANUEVA DE CÓRDOBA,2023-10-19 12:22:03,14440,ES

Empty DataFrame
Columns: [id_ads, manufacturer_by, model, version, km, year, price, seller, endereco, scrapy_datetime, zip_code, country, count]
Index: []

In [16]:
df_final.dtypes

id_ads             object
manufacturer_by    object
model              object
version            object
km                 object
year                int32
price               int64
seller             object
endereco           object
scrapy_datetime    object
zip_code            int64
country            object
dtype: object

## Save the final dataset

In [17]:
rows = df_final.shape[0]
print(rows)
df_final.to_csv('../dataset/df_final.csv', encoding='utf-8', sep=';')

793